body{
	margin: 0;
	padding:0;
	background-image: url("files/background4.png");
	font-family: "Arial", sans-serif;
}

.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

h1{
	font-size:25px;
	text-align:center;
}

h2{
	font-family: serif;
	font-weight: normal;
	font-size: 25px;
	margin-left: 30px;
	margin-bottom: 0;
	display: inline-block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

ul{
	list-style: square;
}

.page-header{
	background-color:#4b6ecc;
	color:white;
	margin:0;
	padding:15px;
	padding-top:20px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.to-main{	
	background-color: #273d64;
	border:2px solid #273d64;
	color: white;
	border-radius: 5px;
	padding: 15px;
	text-decoration:none;
	display:inline-block;
}

.to-main:hover{
	background-color: #577899;
}

.page-nav{
	line-height:23px;
}

.page-nav a{
	color:black;
}

.container{
	margin: 0;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

.container img{
	max-width:100%;
	height:auto;
}

.formulas{
	font-family: serif;
}

.main-formulas{
	display: inline-block;
	background-color:rgba(211,247,247,0.5);
	border: 2px solid #AFEEEE;
	border-radius: 5px;
	font-size: 1.3em;
	padding: 5px;
}

.content{
	padding-left: 15px;
}

.content li{
	border:4px solid rgba(84,150,191,0.2);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

.divide{
	background-color:#ddeaf2;
	border-style: none;
	height:3px;
}

.scrolltop{
	display: inline-block;
	position: fixed;
	bottom: 5px;
	right: 10px;
	opacity: 0.6;
}

.page-footer{
	background-color:#4b6ecc;
	color:white;
	margin:0;
	padding:15px;
	padding-top:20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.page-footer h2{
	border: none;
	display: block;
	margin-bottom: 10px;
	margin-top: 0;
}

.page-footer a{ 
	display: inline-block;
	padding: 10px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-radius: 50%;
	text-align: center;
	background-color:#183890;
}

@media(min-width: 1040px){
	.container-center{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	.container{
		padding-left: 40px;
		padding-right: 40px;
	}

	.scrolltop{
		opacity: 0.7;
	}

	.scrolltop:hover{
		opacity: 1;
	}

	.scrolltop img{
		width: 70px;
		height: 70px;
	}
}
